spring:
  application:
    name: discovery-server
#info:
#  app:
#    name: discovery-server

server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

management:
  endpoints.web.exposure.include: health,info,metrics
  endpoint.health.show-details: always
