spring:
  application:
    name: user-service
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: false
      retry:
        use-random-policy: true
        initial-interval: 3000
        max-interval: 10000
        multiplier: 1.5
        max-attempts: 20

eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: "${spring.application.name}:${random.value}"
    preferIpAddress: false
    hostname: localhost
