spring:
  application:
    name: collector
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: true
      retry:
        use-random-policy: true
        initial-interval: 3000
        max-interval: 10000
        multiplier: 1.5
        max-attempts: 10
      request-connect-timeout: 5000
      request-read-timeout: 5000

eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: "${spring.application.name}:${random.value}"
    preferIpAddress: true
    hostname: localhost

